<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h1>Foi pedida uma nova senha para <%= @estabelecimento.nome %></h1>
    <p>
      A nova senha é <%= @new_password %>
    </p>
    <p>
      Caso não tenha pedido essa nova senha, recomendamos que faça login no site a utilizando e troque-a por uma nova senha da sua confiança.
    </p>
    <p>Obrigado!</p>
    <p>Time Geomarket</p>
  </body>
</html>