<% @page_title = "GeoMarket! | Recuperar Senha" %>
<div class="form form-hotizontal">
  <h1>Recuperar Senha</h1>
  <%= form_tag(:action => 'recover_password') do %>
    <p>Email:</br> <%= text_field_tag(:email) %></p> 
    <%= submit_tag("Recuperar senha!") %>
  <% end %>
</div>
