<% @page_title = "GeoMarket! | #{@current_user.nome}" -%>
  <h2 class='User_Header'>Perfil de <%=@current_user.nome%><h2>
<h2>Lista de propagandas</h2>
<%= render partial: 'shared/table_propagandas', :locals => {:propagandas => @current_user.propagandas} %>
<%= link_to 'Criar propaganda', :controller => :propaganda, :action => :new %>
<%= link_to 'Logout', :controller => :estabelecimento, :action => :logout %>