<% @page_title = "GeoMarket! | Login de Estabelecimento" -%>
<div class= "FormLogin">
  <h1>Log in</h1>
  <%= form_tag(:action => 'login_attempt') do %>
    <p>Nome ou email:</br> <%= text_field_tag(:username_or_email) %></p> 
    <p>Senha:</br> <%= password_field_tag :login_password %></p> 
    <%= submit_tag("Log In") %>
  <% end %>
</div>