<h1>Lista de propagandas</h1>
<div class="pull-right">
  <%= link_to 'Nova Propaganda', { :controller => :propaganda, :action => :new}, :class => 'btn btn-success' %>
</div>
<br>
<br>
<div class="row-fluid">
  <div class="col-md-12">
    <%= render partial: 'shared/table_propagandas', :locals => {:propagandas => @propagandas} %>
  </div>
</div>