<h1>Propaganda#update</h1>
<p>Find me in app/views/propaganda/update.html.erb</p>
<%= @propaganda.titulo %>
<br>
<%= link_to "Voltar", :controller => "Propaganda", :action => "show", :id => @propaganda.id %>